<script type="text/javascript" src="assets/js/js.js"></script>
<section class="dashboard">
  {{dashboard-risk }}

  <section class="optionHolder">

    <div class="optionHolderNav">
      <ul>
        <li class="easeAnime">Test </li>
        <li class="easeAnime">Test </li>
        <li class="easeAnime">Test </li>
        <li class="easeAnime">Test </li>
        <li class="easeAnime">Test </li>
      </ul>
    </div>
{{!-- Kill me nameing --}}
<div class="dashboardRiskOptionsHolder">

  {{#each data_prepped as |data|}}

  <div class="riskOptionsHolder">
    <p>{{data.Categorie}}</p>
    <select class="questionHolder" name="">
      {{#each data.Antwoorden as |antwoord|}}
      <option data-weight="{{antwoord.Gewicht}}" class="getWeight" name="{{antwoord.Name}}">
        {{antwoord.Name}}
      </option>
      {{/each}}
    </select>
  </div>

  {{/each}}

</div>


  </section>

</section>

{{yield}}
