<script type="text/javascript" src="assets/js/js.js"></script>
<section class="dashboard">
  {{dashboard-risk }}

  <section class="optionHolder">

    <div class="optionHolderNav">
      <ul>
        <li class="easeAnime">Test </li>
        <li class="easeAnime">Test </li>
        <li class="easeAnime">Test </li>
        <li class="easeAnime">Test </li>
        <li class="easeAnime">Test </li>
      </ul>
    </div>
{{!-- Kill me nameing --}}
<div class="dashboardRiskOptionsHolder">

  {{!-- {{#each data as |data|}}
  <div class="riskOptionsHolder">
    <p>{{data.Categorie}}</p>
    <select class="" name="">
      {{#each data.herkomst as |herkomst|}}
      <option data-weight="{{data.herkomst.Gewicht}}" name="{{data.herkomst.Name}}"></option>
      {{/each}}
    </select>
  </div>
  {{/each}} --}}

  {{!-- {{#each data as |data|}} --}}

{{!-- Werkt deels --}}

  {{!-- <div class="riskOptionsHolder">
    <p>{{data.Name}}</p>

    <select class="" name="">

      {{#each data.[0].herkomst as |herkomst|}}
      <option data-weight="{{data.Gewicht}}" name="{{data.[0].herkomst.[0].Name}}">
        {{herkomst.Name}}
      </option>

      {{/each}}
    </select>
  </div>
  {{/each}}--}}

  {{#each data as |loop1|}}
  <div class="riskOptionsHolder">
    {{#each data.[0].Voortijdigschoolverlaten as |herkomst|}}
    <p>{{herkomst.Name}}</p>
  {{/each}}
    <select class="" name="">
      {{#each data.[0].herkomst as |herkomst|}}
      <option data-weight="{{data.Gewicht}}" name="{{data.[0].herkomst.[0].Name}}">
        {{herkomst.Name}}
      </option>
      {{/each}}
    </select>
  </div>
  {{/each}}



  {{!-- <p>{{data.[0].herkomst.[0].Name}}</p>
  <p>{{data.[0].herkomst}}</p> --}}


</div>


  </section>

</section>

{{yield}}
