<main>

  {{main-nav title="RisicoAnalyse" navItem=model}}

  <div class="templateHolder">
    {{!-- {{dashboard-template data_prepped=model}} --}}

    {{!-- Hier kan je data mee geven aan de template --}}
    {{!-- Waarom duurde dit een half uur zoeken --}}

    {{dashboard-template data_prepped=model}}
  </div>
  {{dashboard-overlay }}


</main>

{{outlet}}
